:root {
  --e-global-color-primary: #ce9e48;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-0f2f38: #0f2f38;
  --e-global-color-fa7c76c: #174a58;
  --e-global-color-1f25305: #ffb900;
  --e-global-color-d52a2b5: #022e1f;
  --e-global-color-872b1a4: #0b491d;
  --main-transition: all 0.15s ease-in-out;
}
